<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORM</title>
</head>

<body>
    <h1> USERS </h1>
    <ul>
        {% for user, address in users %}
        <li>
            <strong>User:</strong> {{ user.name }}, {{ user.email }}, <br>
            <strong>Address:</strong> {{ address.street }}, {{ address.zipcode }}, {{ address.city }},<br>
        </li>
        {% endfor %}
    </ul>


    <h1> FORM </h1>
    <form action="/post" method="POST">
        <h3> user </h3>
        <div>
            <label for="name"> Name: </label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" name="email" required>
        </div>

        <h3> address </h3>
        <div>
            <label for="street"> Street: </label>
            <input type="text" name="street" required>
        </div>
        <div>
            <label for="zipcode">Zipcode: </label>
            <input type="text" name="zipcode" required>
        </div>
        <div>
            <label for="city">City: </label>
            <input type="text" name="city" required>
        </div>


        <div class="form-example">
            <input type="submit" value="Envoyer">
        </div>
    </form>

    </form>
</body>

</html>